@model TodoListApp.WebApi.Models.TaskModel

@{
    ViewData["Title"] = "DetailsTask";
}

<h1>DetailsTask</h1>

<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TodoListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TodoListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedFor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index" asp-route-id="@Model.TodoListId">Back to List</a>
</div>
